* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.all {
    background-image: url("../images/amethyst.jpg");
    height: 100%;
    background-size: cover;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 42px;
    font-display: bold;
    width: 960px;
    margin: auto;
}


#instructions {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #af2682;
    opacity: .9;  
    margin: auto;
    width: 960px;
    color: white;
}

.target-number {
    background-color: #0ccef0;
    opacity: .9; 
    height: 100px;
    padding: 20px; 
    margin:  auto;
    width: 960px;
    color: white;
    font-size: 42px;
}

#win-counter {
    width: 317px;
    background-color: #9e1212;
    height: 90px;
    padding: 35px; 
    display: inline-block;
    opacity: .9; 
    color: white;
    font-size: 24px;
}

#total-score {
    background-color: #5900ff;
    width: 317px;
    height: 90px;
    padding: 35px;
    display: inline-block;
    color: white;
    opacity: .9; 
    font-size: 24px;

}

#loss-counter {
    width: 317px;
    background-color: #9e1212;
    height: 90px;
    padding: 35px; 
    display: inline-block;
    color: white;
    opacity: .9; 
    font-size: 24px;
}

.images {
    width: 240px;
    height: 240px;
    display: inline-block;
    background-color: white;
    opacity: .9;
}

