* {
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.all {
    background-image: url("../images/amethyst.jpg");
    height: 100%;
    background-size: cover;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    width: 960px;
    margin: auto;
    
}


#instructions {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #af2682;
    opacity: .9;  
    margin: auto;
    width: 960px;
    color: white;
}

.target-number {
    background-color: #0ccef0;
    height: 100px;
    padding: 35px; 
    margin:  auto;
    width: 960px;
}

#win-counter {
    width: 319px;
    background-color: #9e1212;
    height: 90px;
    padding: 35px; 
    display: inline-block;
}

#total-score {
    background-color: #5900ff;
    width: 320px;
    height: 90px;
    padding: 35px;
    display: inline-block;

}

#loss-counter {
    width: 319px;
    background-color: #9e1212;
    height: 90px;
    padding: 35px; 
    display: inline-block;
}

.images {
    width: 100px;
    height: 100px;
}

